@font-face {
  font-family: "Geist Sans";
  src: url("../node_modules/geist/dist/fonts/geist-sans/Geist-Variable.woff2")
    format("woff2");
  font-weight: 1 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("../node_modules/geist/dist/fonts/geist-mono/GeistMono-Variable.woff2")
    format("woff2");
  font-weight: 1 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}
